{% from "_image.html" import lorem_space_image %}

<figure>
  <a class="aa-product-img" href="{{ url_for('product_details', category_id=product['category_id'], product_id=product['id']) }}">
    {{ lorem_space_image(250, 300, topic if topic else 'fashion', product['title']) }}
  </a>
  <a class="aa-add-card-btn add-to-cart" href="{{ url_for('upsert_to_cart') }}" data-product-id="{{ product['id'] }}">
    <span class="fa fa-shopping-cart"></span>Add To Cart
  </a>
  <figcaption>
    <h4 class="aa-product-title">
      <a href="{{ url_for('product_details', category_id=product['category_id'], product_id=product['id']) }}">{{ product['title'] }}</a>
    </h4>
    <span class="aa-product-price">${{ (product['price'] * (1 - product['discount_ratio'])) | currency }}</span>
    {% if product['discount_ratio'] > 0 %}
      <span class="aa-product-price"><del>${{ product['price'] | currency }}</del></span>
    {% endif %}
    <p class="aa-product-descrip">{{ product['description'] }}</p>
  </figcaption>
</figure>
<div class="aa-product-hvr-content">
  <a href="#"
     data-toggle="tooltip"
     data-placement="top"
     title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
  <a href="#"
     data-toggle2="tooltip"
     data-placement="top"
     title="Quick View"
     data-toggle="modal"
     data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
</div>
<!-- product badge -->
{% if product['discount_ratio'] > 0 %}
  <span class="aa-badge aa-sale" href="#">SALE!</span>
{% elif product['stock'] == 0 %}
  <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
{% elif product['is_hot'] %}
  <span class="aa-badge aa-hot" href="#">HOT!</span>
{% endif %}
